<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>src</directory>
        </include>
    </coverage>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-html" target="build/coverage" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="junit" target="build/logs/junit.xml"/>
        <log type="testdox-html" target="build/testdox"/>
        <log type="testdox-text" target="php://stdout"/>
        <log type="text" target="php://stdout"/>
    </logging>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
        <ini name="date.timezone" value="UTC"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="xdebug.mode" value="coverage"/>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>